html {
    background: #e3e3e3;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: 242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: larger;
    text-decoration: underline;
}

h4 {
    font-size: larger;
    text-decoration: underline;
}

p {
    line-height: 2em;
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;
    gap: 25px;
    border-radius: 25 px;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

/* a two column flex box layout */
.table {
    background-color: rgb(179, 211, 179);
    flex-direction: row;
    text-align: center;
}
